<h1>show contact</h1>
<p>
  <strong>email:</strong>
  <%= @contact.email %>
</p>
<p>
  <strong>address:</strong>
  <%= @contact.address %>
</p>
<p>
  <strong>working_hours:</strong>
  <%= @contact.working_hours %>
</p>

<%= link_to 'Edit', edit_contact_path %>|
<%= link_to 'Back', contacts_path %>
