<h1>show social icon</h1>
<p>
	<strong>facebook_links:</strong>
	<%#binding.pry%>
	<%= @social.facebook_links %>
</p>
<p>
	<strong>twitter_links:</strong>
	<%= @social.twitter_links %>

</p>
<p>
	<strong>google_links:</strong>
	<%= @social.google_links %>

</p>
<p>
	<strong>pinterest_links:</strong>
	<%= @social.pinterest_links %>

</p>
<p>
	<strong>dribbble_links:</strong>
	<%= @social.dribbble_links %>

</p>
<%= link_to 'Edit', edit_social_path %>|
<%= link_to 'Back', socials_path %>
