<!DOCTYPE html>
<html>
  <head>
    <title>QsRepair</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<!-- @import 'animate';
@import 'bootstrap';
@import 'color-switcher-design';
@import 'flaticon';
@import 'fontawesome-all';
@import 'jquery-ui';
@import "hover";
@import "jquery.fancybox.min";
@import "jquery.touchspin";
@import 'owl';
@import 'style';


@import "responsive";
@import "custom";


@import "./color-themes/redd-color";
 -->

